<div class="col-lg-offset-2 col-lg-8">
  <%= simple_form_for @blog do |f| %>
  <%= f.input  :title, label: "Title of post", :input_html => {:style=> 'width: 300px'}%>
  <%= f.input  :entry, label: "Blog Entry", :input_html => {:style=> 'width: 600px', :rows => 10}%>
  <%= f.button :submit, "Submit" %>
  <% end %>
</div><!-- col-lg -->
