<div class="title">
  <p>
    <%= @blog.title %>
  </p>
</div>

<div class="col-md-8 col-md-offset-2 picture">
  <%= @blog.blog_image_id %>
</div>

<div class="col-md-8 col-md-offset-2 post">
  <p>
    Written by:
    <br>
    <%= @blog.created_at %>
  </p>
  <p class='bottom'>
    <%= @blog.entry %>
  </p>
</div>
