@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: green;
}

#headerwrap-services  {
	background: image-url('background.jpg') no-repeat center top;
	margin-top: -50px;
	padding-top:120px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  border-bottom: 2px solid #ddd;
}

#headerwrap-services p {
  padding-top: 40px;
  font-size: 4em;
  font-family: 'Merriweather';
  font-weight: 800;
  text-shadow: 2px 2px white;
}

.container-services {
  background-color: #ffffff;
  margin-bottom: 0px;
  // outline: 5px solid;
  // outline-color: #292929;
  border-radius: 25px;
  box-shadow: 0px 0px 0px 5px;
  padding-left:  50px;
  padding-right:  50px;
  padding-top:  10px;
  padding-bottom:  25px;
  position: relative;
  top: -150px;

}

.services {
    h1  {
      font-family: 'Raleway';

    }
    h3  {
      font-family: 'Raleway';
    }

    ul li{
      padding-right:20px;
      padding-left: 20px;
      position: relative;
      display: inline-block;
    }
}

em {
  font-size: 11px;
}
