@import "bootstrap-sprockets";
@import "bootstrap";

#header {
  background: image-url('background.jpg') no-repeat center top;
	margin-top: -50px;
	padding-top:120px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 750px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#header p{
  position: relative;
  top: 150px;
  font-size: 5em;
  font-family: 'Merriweather';
  font-weight: 200;
  text-shadow: 2px 2px #ffffff;

}
